body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
    font-size: 1.2em;
}

a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.background {
    background-color: #ccc;
    width: 100%;
    height: 105vh;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bg-cal {
    margin: 30px auto;
    background-color: #fff;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 100%;
    margin-left: -15.5px;
    box-sizing: border-box;
    flex-direction: column;
    color: white;
    margin-top: 30px;
    flex: 1;
    margin-bottom: -15px;
}

.months {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #F08000;
    font-weight: 700;
    font-size: 1.1em;
    box-sizing: border-box;
    height: 98vh;
    margin-top: -76px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: -15px;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    width: 100%;
}

.nav .nav-controls {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #F08000;
    align-self: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 5px;
}

.nav .nav-controls span {
    margin: 0 15px; 
    font-size: 1.6em;
}

.nav .nav-number {
    font-size: 1.6em;
    margin: 0 20px; 
    cursor: auto;
    color: #F08000;
}

.nav .disabled {
    color: #ccc;
}

.months .month-only div {
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.months .month-only div:hover {
    background-color: #ffb663;
}

.months .month-only div.active {
    background-color: #a75a02;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
    position: relative;
}

.info {
    text-align: center;
    font-size: 1.5em;
    color: #F08000;
}

.underline {
    width: 7%;
    height: 5px;
    border: none;
    background-color: #ffb663;
    margin-top: -20px;
    margin-left: 360px;
    margin-bottom: 30px;
}

.week-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    color: #F08000;
}

.week-days div {
    flex: 1;
    padding: 0 5px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.calendar div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calendar div.disabled {
    color: #ccc;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.calendar div.disabled:hover {
    background-color: #ccc;
    color: #f5f5f5;
    transition: all 0.3s ease-in;
}

.calendar div.unavailable {
    color: #ffc107;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.calendar div.unavailable:hover {
    background-color: #ffc107;
    color: #fff;
    transition: all 0.3s ease-in;
}

.calendar div.available {
    color: #28a745;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.calendar div.available:hover {
    background-color: #28a745;
    color: #fff;
    transition: all 0.3s ease-in;
}

.calendar div.booked {
    color: #dc3545;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.calendar div.booked:hover {
    background-color: #dc3545;
    color: #fff;
    transition: all 0.3s ease-in;
}

form {
    margin-top: 10px;
}

form label {
    margin-right: 10px;
    font-size: 0.8em;
}

form button {
    padding: 4px 8px;
    margin-top: 10px;
    background-color: #F08000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
}

form button:hover {
    background-color: #fff;
    color: #F08000;
}

.events {
    color: #F08000;
    background-color: #f1f1f1;
    box-sizing: border-box;
    padding: 47px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin-right: -30px;
    flex: 1;
    height: 98vh;
    margin-top: -76px;
}

.events form {
    margin-top: auto;
}

.events h2 {
    margin: 0;
    font-size: 1.9em;
    font-weight: bolder;
}

.events ul {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 1em;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
}

.events ul li {
    margin-bottom: 5px;
}

.back {
    margin-top: auto;
    width: 180px !important;
    justify-self: center;
    align-self: center;
}

.back a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #F08000;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    font-size: 1em;
    font-weight: bold;
}

.back a:hover {
    background-color: #fff;
    color: #F08000;
    transition: all 0.3s ease-in;
}

.months, .events {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.3);
}

.months {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.events {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

form.booking-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.booking-form button,
form.booking-form input[type="text"] {
    width: 80%;
    margin: 5px 0;
    padding: 8px;
    font-size: 0.9em;
}

form.booking-form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form.booking-form button {
    background-color: #F08000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: all 0.3s ease-in;
}

form.booking-form button:hover {
    background-color: #fff;
    color: #F08000;
    transition: all 0.3s ease-in;
}

form button,
form input[type="text"],
form input[type="date"] {
    font-size: 0.9em;
    padding: 10px 10px; 
    transition: all 0.3s ease-in;
}

form button:hover,
form input[type="text"]:hover,
form input[type="date"]:hover {
    transition: all 0.3s ease-in; 
}

form input[type="date"] {
    width: 150px !important;
    margin-bottom: 30px !important;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .bg-cal {
        padding: 15px;
    }

    .nav {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .nav {
        width: 100%;
    }

    .calendar div {
        width: 75px;
        height: 75px;
        font-size: 1.5em;
    }
}

form input[type="date"] {
    width: 80%;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
