body {
    background-color: rgb(239, 239, 239);;
}

.parking-camper {
    margin-top: 250px;
    margin-left: 150px;
    font-size: 40px;
    font-family: 'Roboto';
}

.parking-address {
    margin-top: -500px;
    margin-left: 950px;
    font-size: 27px;
    font-family: 'Roboto';
}

.address {
    text-decoration: underline;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 920px;
    font-size: 17px;
    font-family: 'Roboto';
}

.where {
    margin-top: 70px;
    margin-left: 950px;
    font-size: 27px;
    font-family: 'Roboto';
}

.where-text {
    margin-top: -10px;
    margin-left: 950px;
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    font-family: 'Roboto';
}

.fa-map-marker-alt {
    color: #ff0000; /* Change to any color */
    font-size: 20px; /* Adjust size as needed */
    margin-right: 8px; /* Space between the icon and text */
}

.image-container {
    margin-top: -220px;
    margin-left: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.enlargeable-image {
    width: 200px; /* Reduced width to make the starting image smaller */
    height: auto; /* Keeps the aspect ratio */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.enlargeable-image:hover {
    transform: scale(1.05);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 11;
}

.overlay.visible {
    visibility: visible;
    opacity: 1;
}

/* Header */

.logo {
    position: absolute;
    top: -15%;
    left: 5%;
    height: auto;
    width: 90%;
    cursor: pointer;
  }

  .logo-d {
    position: absolute;
    top: 5%;
    left: 41.5%;
    width: 250px;
    height: 150px;
    background-color: rgb(239, 239, 239);
    border-radius: 30px;
  }
  

.contacts {
    position: absolute;
    top: 4.5%;
    right: 87%;
  }
  
  .contacts button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }
  
  .reserve {
    position: absolute;
    top: 4.5%;
    right: 74%;
  }
  
  .reserve button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }
  
  .parking {
    position: absolute;
    top: 4.5%;
    right: 63%;
  }
  
  .parking button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }
  
  .how-to {
    position: absolute;
    top: 4.5%;
    right: 27%;
  }
  
  .how-to button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }
  
  .prices {
    position: absolute;
    top: 4.5%;
    right: 12%;
  }
  
  .prices button {
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }

  /* Header end */