.dropbtn {
    background-color: #e4e3e3;
    font-size: 5px;
    color: grey;
    padding: 16px;
    font-size: large;
    border-color: grey;
    cursor: pointer;
    width: 230px;
    border-radius: 20px;;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(185, 182, 182);
  }
  
  .dropdown {
    position: absolute;
    top: 184%;
    left: 73%;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.name {
  font-size: 40px;
  font-family: 'InkFree';
  position: absolute;
  top: -15%;
  right: 52%;
}

.birth {
  position: absolute;
  top: 46%;
  right: 55.5%;
  font-family: 'Roboto';
  font-size: 15px;
}

.day {
  position: absolute;
  top: 42%;
  right: 46.5%;
  font-family: 'Roboto';
  font-size: 18px;
}

.vw {
  position: absolute;
  top: 70%;
  right: 42%;
  height: auto;
  width: 3%;
}

.vw-text {
  position: absolute;
  top: 75%;
  right: 40%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 17px;
}

.engine {
  position: absolute;
  top: 69.5%;
  right: 33.7%;
  height: auto;
  width: 4%;
}

.engine-text {
  position: absolute;
  top: 75%;
  right: 31.7%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16.5px;
}

.shifter {
  position: absolute;
  top: 69.5%;
  right: 25.5%;
  height: auto;
  width: 3%;
}

.shifter-text {
  position: absolute;
  top: 75%;
  right: 23%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16.5px;
}

.fuel {
  position: absolute;
  top: 69.5%;
  right: 15%;
  height: auto;
  width: 4%;
}

.fuel-text {
  position: absolute;
  top: 75%;
  right: 12.5%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16.5px;
}

.tnc {
  text-decoration: underline;
  position: absolute;
  top: 45%;
  left: 77%;
}

.buy-text {
  background-color: #e4e3e3;
  font-size: 5px;
  color: grey;
  padding: 16px;
  font-size: large;
  border-color: grey;
  cursor: pointer;
  width: 230px;
  border-radius: 20px;
}

.buy-text:hover, .buy-text:focus {
  background-color: rgb(185, 182, 182);
}

.buy {
  position: absolute;
  top: 194%;
  left: 73%;
  display: inline-block;
}

.bg-img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0%;
}

.name-d {
  position: absolute;
  height: 130px;
  width: 1200px;
  top: 67%;
  right: 10%;
  background-color: rgb(239, 239, 239);
  border-radius: 30px;;
}

.gc {
  position: absolute;
  height: auto;
  width: 45%;
  top: 50%;
  right: 55%;
}

.fixed {
  position: fixed;
  top: 85%;
  right: 33%;
  width: 500px;
  height: 70px;
  background-color: #F08000;
  border-radius: 100px;;
}

.calendar {
  background-color: #e4e3e3;
  font-size: 5px;
  color: #F08000;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
  width: 230px;
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.calendar:hover {
  background-color: #F08000;
  color: white;
  transition: all .2s ease-in-out;
}

.contact {
  background-color: #e4e3e3;
  font-size: 5px;
  color: #F08000;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
  width: 230px;
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.contact:hover {
  background-color: #F08000;
  color: white;
  transition: all .2s ease-in-out;
}

.calendar-a {
  position: absolute;
  top: 11%;
  right: 52%;
}

.contact-a {
  position: absolute;
  top: 11%;
  right: 2%;
}

.gc-img {
  position: absolute;
  top: 100%;
  right: 10%;
  height: auto;
  width: 35%;
}

.slider {
  position: absolute;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
  border: none;
  top: 110%;
  right: 5%;
}

.slider-e {
  position: absolute;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
  border: none;
  top: 110%;
  right: 50%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides-e {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide-e {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
}

.slide-e img {
  width: 100%;
  box-sizing: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.prev-e, .next-e {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}


.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-e {
  left: 10px;
}

.next-e {
  right: 10px;
}

.prev-e:hover, .next-e:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  position: absolute;
  top: -15%;
  left: 5%;
  height: auto;
  width: 90%;
  cursor: pointer;
}

.logo-d {
  position: absolute;
  top: 5%;
  left: 41.5%;
  width: 250px;
  height: 150px;
  background-color: rgb(239, 239, 239);
  border-radius: 30px;
}

/* Header */

.contacts {
  position: absolute;
  top: 4.5%;
  right: 87%;
}

.contacts button {
  background-color: #f1f1f1;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.reserve {
  position: absolute;
  top: 4.5%;
  right: 74%;
}

.reserve button {
  background-color: #f1f1f1;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.parking {
  position: absolute;
  top: 4.5%;
  right: 63%;
}

.parking button {
  background-color: #f1f1f1;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.how-to {
  position: absolute;
  top: 4.5%;
  right: 27%;
}

.how-to button {
  background-color: #f1f1f1;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.prices {
  position: absolute;
  top: 4.5%;
  right: 12%;
}

.prices button {
  background-color: #f1f1f1;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

/* Header end */

.interior {
  position: absolute;
  top: 97%;
  right: 21%;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
}

.exterior {
  position: absolute;
  top: 97%;
  right: 67%;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
}

.image-slider {
  position: absolute;
  top: 270%;
  right: 4.25%;
  width: 90%; /* Spans across 90% of the viewport width */
  max-width: 1600px;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgb(239, 239, 239);
  box-sizing: border-box;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
  width: 85%;
}

.slide-m {
  min-width: calc(27%); /* Show 4 images at a time with spacing */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 0px 35px 0px 0px; /* Space between slides */
  border-radius: 8px; /* Adjust border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better aesthetics */
  display: flex;
  flex-direction: column; /* Allow text to be below the image */
}

.slide-m img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 100%; /* Make room for captions */
}

.caption {
  padding: 10px;
  color: #333;
  background: rgb(239, 239, 239);
  text-align: center;
  font-size: 15px;
  height: 70px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  font-family: 'Roboto'
}

.title {
  padding: 10px;
  color: #333;
  background: rgb(239, 239, 239);
  text-align: center;
  font-size: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
}

.prev-m, .next-m {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Align to the center */
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size */
  height: 40px; /* Adjust size */
}

.prev-m {
  left: 10px; /* Position on the left */
}

.next-m {
  right: 10px; /* Position on the right */
}

.prev-m:hover, .next-m:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-slider-n {
  position: absolute;
  top: 180%;
  right: 4.25%;
  width: 90%; /* Spans across 90% of the viewport width */
  max-width: 1600px;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgb(239, 239, 239);
  box-sizing: border-box;
}

.slides-container-n {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
  width: 85%;
}

.slide-n {
  min-width: calc(37%); /* Show 4 images at a time with spacing */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 0px 35px 0px 0px; /* Space between slides */
  border-radius: 8px; /* Adjust border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better aesthetics */
  display: flex;
  flex-direction: column; /* Allow text to be below the image */
}

.slide-n img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 100%; /* Make room for captions */
}

.safety {
  position: absolute;
  top: 250%;
  right: 31%;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}

.extras {
  Position: absolute;
  top: 165%;
  right: 36%;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
}

.toshko {
  margin-top: 100px;
  margin-left: 200px;
  height: auto;
  width: 70%;
}

.reservations {
  margin-top: 150px;
  margin-left: 160px;
  font-family: 'Roboto';
  font-size: 15px;
}

.reservations-u {
  margin-top: -33px;
  margin-left: 803px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto';
  background-color: #f1f1f1;
}

.reservations-i {
  margin-top: -32px;
  margin-left: 935px;
  font-family: 'Roboto-italic';
  font-size: 13px;
}

.camping {
  margin-top: 10px;
  margin-left: 300px;
  font-family: 'Roboto';
  font-size: 15px;
}

.camping-u {
  margin-top: -34px;
  margin-left: 712px;
  background-color: #f1f1f1;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto';
}

.camping-i {
  margin-top: -30px;
  margin-left: 848px;
  font-family: 'Roboto-italic';
  font-size: 13.7px;
}

.campingrocks {
  margin-top: -32px;
  margin-left: 1010px;
  background-color: #f1f1f1;
  border: none;
    text-decoration: underline;
  cursor: pointer;
  font-size: 13.5px;
  font-family: 'Roboto-italic';
}

.skoba {
  margin-top: -30px;
  margin-left: 1100px;
  font-family: 'Roboto-italic';
  font-size: 13.7px;
}

.container {
  max-width: 1583px;
  margin: auto;
  text-align: center;
  margin-top: 2600px; /* Large top margin as requested */
  font-family: 'Roboto';
}

.plans-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  min-height: 550px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.plan-card img {
  width: 100%;
  height: auto;
}

.plan-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plan-details h2 {
  color: #333;
  margin-top: 20px;
}

.price-r {
  margin-top: 55px;
  margin-left: -230px;
  font-size: smaller;
}

.price-d-e, .price-d-n, .price-d-f {
  margin-top: -70px;
  margin-left: 145px;
  height: 60px;
  width: 80px;
}

.price-d-e {
  background-color: #86bc30;
}

.price-d-n {
  background-color: #21a5bc;
}

.price-d-f {
  background-color: #e0931f;
}

.price {
  margin-left: -30px;
  margin-top: -55px;
  font-size: 40px;
  color: #FFFFFF;
}

.price-m {
  margin-top: -55px;
  margin-left: 200px;
  font-size: smaller;
}

.description {
  font-size: 14px;
  color: #666;
  margin: 20px 0;
  flex-grow: 1; /* Ensures it uses available space */
}

.hidden-content {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 20px; /* Added padding for visual spacing */
}

.hidden-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.reserve-button-e, .reserve-button-n, .reserve-button-f {
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: all .2s ease-in-out;
}

.reserve-button-e {
  background-color: #86bc30;
}

.reserve-button-n {
  background-color: #21a5bc;
}

.reserve-button-f {
  background-color: #e0931f;
}

.reserve-button-e:hover, .reserve-button-n:hover, .reserve-button-f:hover {
  transition: all 0.2s ease-in-out;
}

.reserve-button-e:hover {
  background-color: #4CAF50;
}

.reserve-button-n:hover {
  background-color: rgb(5, 134, 255);
}

.reserve-button-f:hover {
  background-color: gold;
}

.include-plan-button {
  background-color: #e9ecef;
  color: #333;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: all .2s ease-in-out;
}

.include-plan-button:hover {
  background-color: #8f8f8f;
  transition: all .2s ease-in-out;
}


/* Responsive design */
@media (max-width: 768px) {
  .slide {
      min-width: calc(50% - 15px); /* Show 2 images at a time on smaller screens with spacing */
  }
}

@media (max-width: 480px) {
  .slide {
      min-width: 100%; /* Show 1 image at a time on very small screens */
      margin: 0; /* No space needed for single image view */
  }
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto-Regular.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto-italic';
  src: url('font/Roboto/Roboto-Italic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'InkFree';
  src: url('font/InkFree/Inkfree.ttf');
}

@media screen and (max-width: 768px) {
  .dropbtn {
    background-color: #e4e3e3;
    font-size: 5px;
    color: grey;
    padding: 16px;
    font-size: large;
    border-color: grey;
    cursor: pointer;
    width: 160px;
    border-radius: 20px;;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(185, 182, 182);
  }
  
  .dropdown {
    position: absolute;
    top: 207%;
    left: 30%;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.name {
  font-size: 33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: -30%;
  right: 20%;
}

.name-d {
  position: absolute;
  height: 70px;
  width: 350px;
  top: 39%;
  right: 10%;
  background-color: rgb(239, 239, 239);
  border-radius: 30px;;
}

.buy-text {
  background-color: #e4e3e3;
  font-size: 5px;
  color: grey;
  padding: 16px;
  font-size: large;
  border-color: grey;
  cursor: pointer;
  width: 160px;
  border-radius: 20px;
}

.buy-text:hover, .buy-text:focus {
  background-color: rgb(185, 182, 182);
}

.buy {
  position: absolute;
  top: 218%;
  left: 30%;
  display: inline-block;
}

.bg-img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0%;
}

.idk {
  height: 1550px;
}

.gc {
  position: absolute;
  height: auto;
  width: 45%;
  top: 27%;
  right: 48%;
}

.fixed {
  position: fixed;
  top: 85%;
  right: 18%;
  width: 300px;
  height: 70px;
  background-color: #F08000;
  border-radius: 100px;;
}

.calendar {
  background-color: #e4e3e3;
  font-size: 5px;
  color: #F08000;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.calendar:hover {
  background-color: #F08000;
  color: white;
  transition: all .2s ease-in-out;
}

.contact {
  background-color: #e4e3e3;
  font-size: 5px;
  color: #F08000;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
  width: 130px;
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.contact:hover {
  background-color: #F08000;
  color: white;
  transition: all .2s ease-in-out;
}

.calendar-a {
  position: absolute;
  top: 11%;
  right: 53%;
}

.contact-a {
  position: absolute;
  top: 11%;
  right: 3%;
}

.gc-img {
  position: absolute;
  top: 100%;
  right: 10%;
  height: auto;
  width: 35%;
}

.slider {
  position: absolute;
  max-width: 380px;
  overflow: hidden;
  border: 2px solid #333;
  top: 157%;
  left: 7%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  max-width: 10%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  position: absolute;
  top: -2.5%;
  left: 8%;
  height: auto;
  width: 24%;
  cursor: pointer;
}
}