@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav .navbar {
    background-image: linear-gradient(to bottom, #ccc, #eee);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 45px;
    position: relative;
    z-index: 10;
}

nav .navbar h2 {
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.bi-translate {
    position: relative;
    z-index: 11;
    font-size: 1.2em;
    margin-left: 10px;
    width: 18px;
    height: auto;
    cursor: pointer;
}

.navbar .nav-image {
    margin-top: 155px;
    background-image: linear-gradient(to bottom, #eee, #fff);
    height: 110px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    z-index: 9;
    width: 250px;
}

.navbar .nav-image img {
    margin-top: -40px !important;
    width: 200px;
    height: auto;
    position: relative;
    z-index: 10;
    margin-left: 23px;
}

.navbar .translate {
    margin-left: -60px;
}

.main-class img {
    width: 100%;
    height: 470px;
    position: relative;
    z-index: 1;
}

.main-class .rent {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 2;
    position: absolute;
    top: 180px;
    left: 70px;
    width: 32%;
    height: 40%;
}

.main-class .rent h2 {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.7em;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: -8px;
}

.main-class .rent p {
    justify-content: space-around;
    align-items: center;
    text-align: left;
    font-size: 0.8em;
    margin-left: 39px;
    margin-bottom: 4px;
    font-weight: bold;
}

.main-class .rent .when {
    background-color: white;
    margin: 15px 32px;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    height: 57px;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.main-class .rent .when p {
    margin-top: 1px;
    margin-left: 55px;
}

.main-class .rent .when .begin-when {
    margin-top: -42px;
    color: #aaaaaa;
    font-size: 0.7em;
}

.main-class .rent .when .travel-when {
    font-size: 0.8em;
}

.main-class .rent .when .bi-arrow-right {
    margin-left: 180px;
    font-size: 1.6em;
    display: flex;
    margin-top: -29px;
}

.main-class .rent .when .end-when {
    margin-top: -28px;
    color: #aaaaaa;
    font-size: 0.7em;
    margin-left: 230px;
}

.main-class .rent .when .return-when {
    font-size: 0.8em;
    margin-left: 230px;
}

.main-class .rent .search {
    background-color: red;
    margin: 10x;
    margin-left: 32px;
    border: 1.5px solid red;
    border-radius: 15px;
    height: 57px;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    width: 85%;
}

.main-class .rent .search .bi-search {
    color: white;
    margin-left: 95px;
    margin-top: 7px;
    display: flex;
    font-size: 2em;
}

.main-class .rent .search .search-text {
    color: white;
    margin-left: 30px;
    margin-top: -32px;
    font-size: 2em;
    display: flex;
}

.welcome {
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.welcome .title {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bolder;
}

.welcome .fun-way {
    margin-top: 10px;
    font-size: 1.2em;
}

.space {
    height: 250px;
    background-image: linear-gradient(to bottom, white, #eee);
}

.text-primary {
    color: black !important;
}

.faq {
    width: 100%;
    height: 100vh;
    background-color: #eee !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: width 0.5s ease, padding 0.5s ease;
    box-sizing: border-box;
}

.faq .header {
    margin-top: -300px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 2em;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 35px 450px;
    background-color: transparent;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left; 
}

.faq-question::before {
    content: '';
    position: absolute;
    left: 13.6px;
    top: 53.5%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-question::after {
    content: '';
    position: absolute;
    left: 18.6px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: transform 0.3s ease;
}

.faq-question.active::after {
    transform: translateY(-50%) rotate(225deg);
}

.faq-question:hover {
    background-color: #d0d0d0;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 8px;
}

.faq-answer.expanded {
    padding: 16px;
}

.faq-answer.active {
    color: red;
}

.faq-footer {
    height: 250px;
    background-image: linear-gradient(to bottom, #eee, white);
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4, .footer-section h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-section p {
    color: #cccccc;
    margin: 5px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #F08000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section .btn-social {
    margin: 0 5px;
    font-size: 24px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.footer-section .btn-social:hover, .footer-section .btn-social:focus {
    background-color: #F08000;
    color: #fff;
    border-color: #F08000;
}

.footer-column .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: #F08000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 2s, background-color 0.5s;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 4%;
}

.footer-column .circle.hovered {
    transform: rotate(360deg);
    background-color: #F08000;
    color: white;
}

.benefits-list {
    color: white;
    display: none;
    margin-top: 10px;
    list-style: none;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: left;
}

.benefits-list.show {
    display: block;
    opacity: 1;
}

.benefits-list li {
    margin: 10px 0;
    font-size: 1em;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s, transform 0.5s;
}

.benefits-list li.show {
    opacity: 1;
    transform: translateY(0);
}

.btn.benefit {
    color: white;
    background-color: #F08000;
    text-decoration: none;
    transition: all 0.3s ease-in;
    padding: 8px 20px;
    border-radius: 5px;
}

.btn.benefit:hover {
    transition: all 0.3s ease-out;
    color: #F08000;
    background-color: white;
    text-decoration: none !important;
}

.footer-section.benefit {
    text-align: center;
    margin-top: 25px;
    position: relative;
}

.footer-section.benefit h2 {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.footer-section.benefit p {
    color: #cccccc;
    font-weight: 500;
    text-align: left;
}

.footer-section.contact {
    text-align: left;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 200px !important;
}

.btn-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    font-size: 24px; 
    text-decoration: none; 
    padding: 0; 
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent; 
    transition: background-color 0.3s, border-color 0.3s;
}

.footer-section .follow-us {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 50px;
}

.footer-section .follow-us h2 {
    margin-bottom: 20px;
}

.footer-section .follow-us .btn-social {
    margin-bottom: 50px;
}

.btn-social.twitter:hover,
.btn-social.twitter:focus {
    text-decoration: none;  
    color: #00ACEE;               
    background-color: white; 
}
.btn-social.facebook:hover,
.btn-social.facebook:focus {
    text-decoration: none;
    color: white;
    background-color: #1877F2;
}

.btn-social.youtube:hover,
.btn-social.youtube:focus {
    text-decoration: none;
    color: #FF0000;
    background-color: white;
}

.btn-social.in:hover,
.btn-social.in:focus {
    text-decoration: none;
    color: white;
    background-color: #0077B5;
}

.btn-social i {
    margin: 0;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section img {
    width: 24px; 
    height: 24px;
    margin: 0 5px;
}

.footer-section .quick {
    margin-top: 25px;
    margin-bottom: 60px !important;
}

.footer-section .quick ul li,
.footer-section .legal ul li {
    text-align: left;
    margin-left: 120px;
}

.footer-section .quick ul li a,
.footer-section .legal ul li a {
    text-decoration: none;
    color: white;
}

.footer-section .quick ul li a:hover,
.footer-section .legal ul li a:hover {
    text-decoration: none;
    color: #F08000;
}


.footer p {
    margin: 20px 0 0;
}

@media (max-width: 1200px) {
    .faq-item {
        width: 100%;
    }
    .faq-question {
        text-align: center;
        padding: 35px 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
        font-size: smaller;
    }

    .navbar h2 {
        margin: auto 10px;
    }

    .navbar .nav-image {
        display: none;
    }

    .navbar .translate {
        display: none;
    }

    .main-class .rent {
        width: 80%;
        left: 10%;
    }

    .welcome .title {
        font-size: 1.8em;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links div {
        width: 100%;
    }

    .follow-us {
        order: 1;
    }

    .footer-links {
        order: 2;
        left: 0px;
    }

    .quick,
    .legal {
        margin-bottom: 150px;
    }
}

@media (max-width: 540px) {
    .footer .follow-us .btn-social{
        width: 40px;
        height: 40px;
    }

    .navbar h2 {
        margin-left: 5px !important;
        font-size: smaller !important;
    }

    .navbar .left-word {
        margin-left: -50px !important;
    }

    .main-class .when p {
        font-size: 0.6em !important;
    }

    .main-class .search {
        font-size: 0.9em !important;
        height: 40px !important;
    }

    .main-class .search .search-text {
        margin-left: 70px !important;
    }
}